// 
$lightblue: #BFDBF7; // Pale Aqua
$darkblue: #053C5E; // Dark Imperial Blue
$blue: #1F7A8C; // Metallic Seaweed
$darkred: #A31621; // Ruby Red
$red: #DB222A; // Maximum Red
$green: #3fc491;


$lightgray: #D0CCD0;
$red: #BB4E75;
$lightred: #FF8D6C;
$darkgray: #333333;

$gradientblue: linear-gradient(50deg, #3fc491 10%, #053C5E 100%);
$gradientlightgray: linear-gradient(180deg, #ece9e6 10%, #ccc 100%);

$lightgray: #cccccc;